/*
 * FILE: About.css
 * 
 * AUTHOR(S): Elyssa Mari Tapawan
 *
 * PURPOSE: This file contains the About CSS for the application.
 */


.About{
    margin-top: 7rem;
    background-color: #D0F4DE;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    flex-direction: column;
}

.about-title{
    color: #2F2E41;
}

.about-text{
    margin: 3rem 18rem 8rem 18rem;
}

@media screen and (max-width: 1500px){
    .about-text{
        margin: 2rem 2rem 8rem 2rem;

    }
}

.home-buttons{
    position: fixed;
}