.About{
    margin-top: 7em;
    background-color: #D0F4DE;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    flex-direction: column;
}

.about-title{
    color: #2F2E41;
}

.about-text{
    margin-top: 3rem;
    margin-left: 18rem;
    margin-right: 18rem;
    margin-bottom: 8rem;
}

@media screen and (max-width: 1500px){
    .about-text{
        margin-top: 2rem;
        margin-left: 2rem;
        margin-right: 2rem;
        margin-bottom: 8rem;
    }
}

.home-buttons{
    position: fixed;
}