/*
 * FILE: Navbar.css
 * 
 * AUTHOR(S): Elyssa Mari Tapawan
 *
 * PURPOSE: This file contains the Navigation Bar CSS for the application.
 */

.navbar{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

button{
    text-transform: none !important;
}

.dog-oclock-logo{
    cursor: pointer;
}
